input[type=text] {
    width: 30em;
}
.red {
     color: red;
     font-size: 0.7em;
} .example {
     font-size: 0.8em;
}
textarea {
    width: 40em;
    height: 15em;
}
h1 {
    font: small-caps bold large sans-serif;
}
h2 {
    font-size: 1.2em;
    margin: 0.5em 0.2em 0 0.2em;
    padding: 0;
}
td {
    vertical-align: top;
}
tr.archive_table_row td {
    padding-top: 1.5em;
}
code {
    background-color: #F2F2F2;
    color: #303030;
    padding: 1px 2px 2px 2px;
    border-radius: 4px;
}
#log {
    width: 85%;
    background: white;
    margin: auto;
    border: thin solid;
    padding: 5px;
}
.log_button {
    width: 20em;
}
.formtable tr td:first-child {
    width: 8em;
}
.formtable td {
    padding: 0.4em;
}
#formtable_end tr td:first-child {
    width: 8em;
}
#formtable_end td {
    padding: 0.4em;
}
input[type="file"] {
    font-weight: bold;
}
#hide-toggle {
    cursor: pointer;
}
#hide-toggle:before{
    content: "▾ ";
}
#hide-toggle.active:before{
    content: "▸ ";
}

